.head
{
    color:#1ecae8;
    top:0px;
}
.sel
{
    position: absolute;
    top: 150px;
    width:33%;
    left:1%
}
.pic
{
    width: 100%;
    height: 150px;
    position: absolute;
    background-image: url("./image/index.jpeg");
    background-position: center;
    background-size: cover;
    left:0px;
}

.rowl1
{
    position: absolute;
    top:30%;
    left:2%;
    width:32%;
}
.rowl2
{
    position: absolute;
    top:30%;
    left:34.5%;
    width:32%;
}
.rowl3
{
    position: absolute;
    top:30%;
    left:68%;
    width:32%;
}
.cnname
{
    position: absolute;
    font-size:30px;
    top:5px;
    left:10px;
}
.cnow
{
    position: absolute;
    font-size:30px;
    color:purple;
    top:5px;
    right:5px;
}
.cWx
{
    position: absolute;
    font-size:20px;
    color:#11a846;
    top:60px;
    left:10px;
}
.cCI
{
    position: absolute;
    font-size:20px;
    color:#b85f1f;
    top:100px;
    left:10px;
}
.cPoP
{
    position: absolute;
    right:30px;
    font-size:30px;
    bottom: 30px;
}
.cPoP2
{
    position: absolute;
    left:50%;
    font-size:25px;
    bottom: 50px;
}
.cPoP3
{
    position: absolute;
    left:50%;
    font-size:25px;
    bottom: 20px;
}
.cMT
{
    position:absolute;
    left:35px;
    bottom:30px;
    font-size:30px;
    color:#44406b;
    
}
.bord
{
    
    border-style:solid;
    border-width: 2px;
    border-color:#FF8888;
}
.datefont
{
    font-size:25px;
}
.hrs
{
    position: absolute;
    bottom:50%;
}
.pm
{
    position: absolute;
    bottom: 20%;
}
.datefontpm
{
    position: absolute;
    font-size:20px;
    bottom:45%;
    right:9%;
}
.imgs
{
    position:absolute;;
    width:500px;
    height:42%;
    bottom:-15%;
    left:1%;
}
